:root {
    --primary-color: white;
    --secondary-color: black;
    --third-color: #fdc670
}

#welcome-to-home {
    color: var(--secondary-color)
}

.listing-photos {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.edit-button {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.delete-button {
    cursor: pointer;
}

.delete-button:hover {
    border-bottom: 1px solid black;
}

.edit-button:hover {
    border-bottom: 1px solid black;
}

#home-page-specific {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
}

#country-specific {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;
    margin-left: 20px;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
    border-right: 1px solid grey;
}

#price-specific {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80%;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-right: 1px solid grey
}

#country-label {
font-weight: 300;
}

#country-select {
    width: fit-content;
    border-radius: 12px;
    height: 25px;
}

#price-label {
    overflow: hidden;
    margin-top: 5px;
font-weight: 300;
}

#price-input {
    width: 100px;
}


#home-page-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#home-page-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#home-page-typeof {
    display: flex;
    background-color: white;
    height: 75px;
    width: 400px;
    border-radius: 25px;
}

#specifics-button {
    cursor: pointer;
    margin-top: 20px;
    border-radius: 12px;
    width: 30%;
    height: 30px;
    border: 1px solid white;
    background-color: var(--third-color);
    color: white;
    margin: auto;
    margin-right: 20px;
}

#home-page-welcome {
    height: 400px;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
   font-weight: 700;
   font-size: 50px;
}

#places {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    margin-left: 20px;
    justify-content: center;
}

#little-text {
    color: var(--secondary-color);
    font-weight: lighter;
    font-size: 20px;
}

#post-place {
    width: 100px;
    height: 30px;
    border: 1px solid #045de9;
    border-radius: 12px;
    background-color: #045de9;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owner {
    position: absolute;
    right: 15px;

    bottom: 9px;
}

.listing-box {
    position: relative;
    cursor: pointer;
}
