textarea {
    resize: none;
}

#listing-page {
width: 80%;
margin: auto;
}

.title {
    height: 70px;
    font-weight: 300;
    margin-left: 20px;
}

#details {
    display: flex;
    flex-direction: column;
}

#title-details {
    display: flex;
    align-items: center;
}

.owner-listing {

    margin-left: 30px;
    font-weight: 200;
}

#delete-listingPage {
    text-align: end;
    font-size: 20px;
    cursor: pointer;
}

#delete-div {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.far {
    text-align: end;
    cursor: pointer;
}

#listing-img {
    display: block;
   object-fit: contain;
    margin: auto;
    width: 800px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#location {
    display: flex;
    gap: 10px;
    margin-left: 100px;
    font-size: 20px;
}

#lower-section {
    margin-top: 10px;
    display: flex;
    height: auto;
    overflow: hidden;
    justify-content: center;
}

#description {
    width: 60%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    margin-right: 10px;
}

#startdate-label {
    height: 20px;
    overflow: hidden;
}

.review-author {
    font-weight: 900;
}

#create-review-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

#make-review-title {

}

#submit-review-button {
    height: 30px;
    width: 100px;
    border-radius: 12px;
    border: 1px solid white;
    color: white;
    background-color: #045de9;
    cursor: pointer;
}

#make-review-text {
    width: 75%;
    height: 200px;
}

#lower-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-right: 10px;
    overflow: hidden;
}

#review-title {
    color: #045de9;
    border-bottom: 1px solid #e99004;
    margin-right: 20px;
    padding-left: 30px;
    width: 100%;
}

.review-ind {
   line-height: 40px;
}

#booking-errors {
    height: auto;
    width: auto;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding: 0;
}

.booking-error {
    height: 70px;
    width: auto;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}

#enddate-label {
border: 1px solid white;
overflow: hidden;
}


#bookit {
    position: relative;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12);
    padding: 5%;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
    overflow: hidden;
}

#book-button {
    width: 70%;
    height: 30px;
    border: 1px solid white;
    background-color: #e99004;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    transition-duration: 1.5s;
    color: white
}

#book-button:hover {
    background-color: #045de9;
}

#price-list {
    position: absolute;
    display: flex;
    top: 20px;
    align-items: center;
}

#price-page {
    font-size: 20px;
    font-weight: 900;
}

#per-night {
    margin-left: 5px;
    font-weight: 300;
}
