@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

label {
    overflow: hidden;
}

.signup-error {
    color: red;
    overflow: hidden;
}

#signup-errors {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 73px;
}

#signup-page-image {
position: absolute;
height: 100vh;
width: 70vw;

border-radius: 20px;
right: 30px;
}

#sign-up-ptext {
    color: #717171;
    font-size: 16px;
    overflow: hidden;
    padding-bottom: 5px;
}

.input-bar {
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(176, 176, 176);
}

#signup-button {
    height: 50px;
    width: 75%;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: larger;
    background: linear-gradient(to left, #09c6f9, #045de9);
    cursor: pointer;
    transition-duration: .5s;
    margin-bottom: 10px;
}


#sign-up {
    font-size: larger;
    border-bottom: rgb(235, 235, 235) solid 1px;
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;

}

#sign-up-title {
    font-size: 32px;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-left: 30px;
}

#signup-form {
    position: absolute;
    left: -300px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 30vw;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 12px;
    gap: 20px;
}

.divider {
    margin-top: 5px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
}

.demo-user {
    position: absolute;
    top: 5px;
    text-align: right;
    width: 100%;
    right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    overflow: hidden;
}
